<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/register_login.css" />
</head>

<body>
    <main>
        <div class="container">

            <div class="container left">

            </div>

            <div class="container right">

                <div class="container container-forms">
                    <section class="header">
                        <img class="logo" id="logo" src="assets/img/Logo.png" alt="" onclick="location.href = '/';" />
                    </section>

                    <section class="forms">
                        <h4>Entre em sua conta</h4>
                        <form method="POST" action="/logged">
                            <label class="field-name" for="teste">Digite seu e-mail</label>
                            <input id="teste" class="field" type="email" name="email"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$" required />
                            <p class="form-error">
                                <% if(typeof erroEmail !='undefined' ){ %>
                                    <%= erroEmail %>
                                        <% } %>
                            </p>
                            <label class="field-name">Digite sua senha</label>
                            <input class="field" type="password" name="password" required />
                            <p class="form-error">
                                <% if(typeof erroPassword !='undefined' ){ %>
                                    <%= erroPassword %>
                                        <% } %>
                            </p>

                            <button class="button-submit" type="submit">Entrar</button>
                        </form>
                        <button class="button-create-account" onclick="location.href = '/register';">Criar
                            Conta</button>
                    </section>
                </div>

            </div>

        </div>
        <div class="change-theme-container change-theme-button">
            <span class="iconify" data-icon="fluent:dark-theme-24-filled" data-width="22px"
                style=" color: var(--text); "></span>
        </div>
    </main>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script type="text/javascript" src="theme-toggle.js"></script>
</body>

</html>