<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/register_login.css" />
</head>

<body>
    <main>
        <div class="container">

            <div class="container left">

            </div>

            <div class="container right">

                <div class="container container-forms">
                    <section class="header">
                        <img class="logo" id="logo" src="assets/img/Logo.png" alt="" onclick="location.href = '/';" />
                    </section>
                    <section class="forms">
                        <h4>Crie sua conta</h4>
                        <form method="POST" action="/register">
                            <label class="field-name" for="email">Digite seu e-mail</label>
                            <input id="email" class="field" type="email" name="email" required />

                            <div class="password">
                                <label class="field-name" for="password">Digite sua senha</label>
                                <input id="password" class="field" type="password" name="password" required />
                                <span class="show-password" onclick="togglePassword('password', 'eye-toggle1')"><i
                                        class="iconify" id="eye-toggle1" data-icon="akar-icons:eye"></i></span>
                            </div>

                            <div class="confirm-password">
                                <label class="field-name">Digite sua senha novamente</label>
                                <input id="confirm_password" class="field" type="password" required />
                                <span class="show-password"
                                    onclick="togglePassword('confirm_password', 'eye-toggle2')"><i class="iconify"
                                        id="eye-toggle2" data-icon="akar-icons:eye"></i></span>
                            </div>


                            <button class="button-submit" onclick="validate()" type="submit">Proxima Etapa</button>
                        </form>
                        <p id="no-account">Ja possui uma conta? <a class="access" href="/login">Acessar sua conta</a>
                        </p>
                    </section>
                </div>

            </div>

        </div>
        <div class="change-theme-container change-theme-button">
            <span class="iconify" data-icon="fluent:dark-theme-24-filled" data-width="22px"
                style=" color: var(--text); "></span>
        </div>
    </main>

    <script src="utils-forms.js"></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script type="text/javascript" src="theme-toggle.js"></script>
</body>

</html>